.menu-mobile {
  position: fixed;
  z-index: 1;
  right: -100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: rgba(32, 32, 32, 1);
  transition: .8s ease-in-out;
}

.menu-mobile_opened {
  right: 0;
}

.menu-mobile__container {
  display: flex;
  flex-direction: column;
}

.menu-mobile__container:last-child {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 105px;
}

.menu-mobile__close {
  background: url("./../../images/header/close_hamburger.svg") no-repeat center;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 0;
  transition: .1s ease;
  cursor: pointer;
  transition: opacity .4s ease-in-out;
}

.menu-mobile__close:hover {
  cursor: pointer;
  opacity: .5;
}

.menu-mobile__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.menu-mobile__list-item {
  list-style: none;
  padding-bottom: 2px;
}

.menu-mobile__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: opacity .4s ease-in-out;
}

.menu-mobile__link:hover {
  cursor: pointer;
  opacity: .5;
}

.menu-mobile__navigation .menu-mobile__link:hover {
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 1)
}

.menu-mobile__link_type_account {
  display: flex;
  align-items: center;
}

.menu-mobile__image {
  background: url("./../../images/profile/profile.svg") no-repeat center;
  width: 100px;
  height: 32px;
  transition: opacity .4s ease-in-out;
}

.menu-mobile__image:hover {
  cursor: pointer;
  opacity: .5;
}

@media (min-width: 768px) {
  .menu-mobile {
    width: 68vw;
  }
}

@media (max-width: 1023px) {
  .menu-mobile__close {
    position:absolute;
    top: 20px;
    right: 20px;
  }

  .menu-mobile__navigation {
    margin-top: 105px;
  }

  .menu-mobile__list-item:not(:first-child) {
    margin-top: 22px;
  }

  .menu-mobile__link {
    padding-bottom: 4px;
  }
}

@media (min-width: 1024px) {
  .menu-mobile {
    display: none;
  }
}
