.promo {
  max-height: 590px;
}

.promo__container {
  min-height: 524px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(7, 48, 66, 1);
  user-select: none;
}

.landing__logo {
  position: absolute;
  max-width: 320px;
  margin: 82px auto 122px;
}

.promo__title {
  margin-top: 184px;
  max-width: 730px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

@media screen and (max-width: 619px) {
  .landing__logo {
    max-width: 248px;
    margin: 142px auto 180px;  
  }
  
  .promo__title {
    margin-top: 207px;
    max-width: 315px;
    font-size: 31px;
    line-height: 1.3;
  }
}
