.hamburger {
  max-width: 38px;
  position: absolute;
  right: 10px;
  transition: opacity .4s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
  opacity: .5;
}

@media (min-width: 1023px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 767px) {
  .hamburger {
    right: 30px;
  }
}
