.form-search {
  margin: 0 70px;
  min-height: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-search__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0;
}

.form-search__input {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  color: rgba(139, 139, 139, 1);
  background: rgba(32, 32, 32, 1);
  border: 0;
  margin: 0;
  text-align: center;
}

.form-search__button {
  border: 0;
  background-color: transparent;
  transition: opacity .4s ease-in-out;
}

.form-search__button:hover {
  cursor: pointer;
  opacity: .5;
}

.form-search__image_blue {
  min-width: 34px;
}

.form-search__image_grey {
  min-width: 34px;
}

.form-search__toggle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-search__text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.toggle {
  display: none;
  transition: opacity .4s ease-in-out;
}

.toggle:hover {
  cursor: pointer;
  opacity: .5;
}

.toggle__turn {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 36px;
  max-height: 20px;
  border-radius: 20px;
  background: rgba(32, 32, 32, 1);
  transition: opacity .4s ease-in-out;
}

.toggle__turn::after {
  content: '';
  display: flex;
  min-width: 16px;
  min-height: 16px;
  margin: 2px 16px 2px 2px;
  background: rgba(245, 245, 245, 1);
  border-radius: 100%;
  box-sizing: border-box;
}

.toggle:checked ~
.toggle__turn::after {
  margin: 2px 2px 2px 16px;
  background: rgba(43, 224, 128, 1);
}

.toggle__turn:hover {
  cursor: pointer;
  opacity: .5;
}

.form-search__border {
  width: 100%;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  margin: 0 auto 30px;
}

@media screen and (max-width: 1023px) {
  .form-search {
    margin: 0 30px;
    min-height: 246px;
  }
}

@media screen and (max-width: 767px) {
  .form-search {
    margin: 0 10px;
    min-height: 248px;
  }

  .form-search__image_grey {
    display: none;
  }

  .form-search__input { 
    text-align: start;
  }

  .form-search__container {
    margin: 98px 10px 0;
  }

  .form-search__text {
    font-size: 11px;
  }

  .form-search__input {
    font-size: 18px;
  }
  
  .form-search__toggle {
    margin: 20px 0 20px;
  }

  .form-search__border {
    margin: 5px auto 30px;
  }
}
