.header__container {
  min-height: 74px;
  background-color: rgba(7, 48, 66, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.header__account {
  min-height: 74px;
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.header__sign {
  display: flex;
}

.header__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: opacity .4s ease-in-out;
}

.header__link:last-of-type {
  padding: 0 20px 0;
} 

.header__link:hover {
  cursor: pointer;
  opacity: .5;
}

.header__button {
  max-width: 76px;
  min-height: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(43, 224, 128, 1);
  border: none;
  border-radius: 3px;
  text-decoration: none;
  transition: opacity .4s ease-in-out;
}

.header__button:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 1023px) {
  .header__container {
    padding: 0 30px;
  }

  .header__account {
    padding: 0 30px;
    margin-top: 18px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }

  .header__container {
    padding: 0 14px;
    height: 74px;
  }

  .header__account {
    padding: 0 14px;
  }

  .header__link {
    font-size: 10px;
    line-height: 1.6;
  }
}
