.techs {
  background: rgba(39, 39, 39, 1);
}

.techs__container {
  margin: 0 70px;
}

.techs__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.16;
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  padding: 110px 0 23px;
}

.techs__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 90px 0 0;
}

.techs__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 26px 0 0;
}

.techs__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  margin: 100px auto 0;
  padding: 0 0 100px;
}

.techs__button {
  min-width: 90px;
  min-height: 60px;
  background: rgba(48, 48, 48, 1);
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.techs_link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  transition: opacity .4s ease-in-out;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .techs__container {
    margin: 0 50px;
  }
}

@media screen and (max-width: 619px) {
  .techs__container {
    margin: 0 18px;
  }

  .techs__title {
    font-size: 18px;
    line-height: 1.2;
    padding: 70px 0 28px;
  }

  .techs__heading {
    font-size: 30px;
    line-height: 1.2;
    padding: 60px 0 0;
  }

  .techs__text {
    font-size: 11px;
    line-height: 1.5;
    padding: 24px 0 0;
  }

  .techs__wrapper {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px auto 0;
    padding-bottom: 70px;
  }
}
