@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
  background: rgba(32, 32, 32, 1);
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

.root {
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}
